<div class="container">
  <h2 class="text-center">Parent Dashboard</h2>

  <div *ngFor="let child of children" class="card my-3">
    <div class="card-header">
      <h4>{{ child.firstName }} {{ child.lastName }}</h4>
    </div>
    <div class="card-body">
      <h5>Courses Enrolled:</h5>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Course Title</th>
            <th>Description</th>
            <th>Duration</th>
            <th>Grade</th>
            <th>Teacher</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of child.courses">
            <td>{{ course.title }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.duration }} hours</td>
            <td>{{ getGrade(child, course) }}</td>
            <td>
              <button class="btn btn-info" (click)="viewTeacher(course.teacher)">View Teacher</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
