<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
    <div class="row align-items-center px-3">
        <div class="col-lg-4 text-center text-lg-left" style="margin-right: 15%;">
            <h1 class="display-3 font-weight-bold text-white">SignUp</h1>
            <form [formGroup]="signUpForm">
                <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

                <!-- First Name -->
                <div class="form-group">
                    <label style="color: rgb(52, 48, 48);" for="firstName">First Name</label>
                    <input formControlName="firstName" type="text" class="form-control" placeholder="First Name">
                </div>
                <!-- First Name Validation -->
                <div *ngIf="signUpForm.controls['firstName'].invalid && (signUpForm.controls['firstName'].touched || signUpForm.controls['firstName'].dirty)">
                    <div *ngIf="signUpForm.controls['firstName'].errors?.['required']">First Name is required</div>
                    <div *ngIf="signUpForm.controls['firstName'].errors?.['minlength']">First Name must have at least 3 characters</div>
                </div>

                <!-- Last Name -->
                <div class="form-group">
                    <label style="color: rgb(52, 48, 48);" for="lastName">Last Name</label>
                    <input formControlName="lastName" type="text" class="form-control" placeholder="Last Name">
                </div>
                <!-- Last Name Validation -->
                <div *ngIf="signUpForm.controls['lastName'].invalid && (signUpForm.controls['lastName'].touched || signUpForm.controls['lastName'].dirty)">
                    <div *ngIf="signUpForm.controls['lastName'].errors?.['required']">Last Name is required</div>
                    <div *ngIf="signUpForm.controls['lastName'].errors?.['minlength']">Last Name must have at least 5 characters</div>
                </div>

                <!-- Phone Number -->
                <div class="form-group">
                    <label style="color: rgb(52, 48, 48);" for="phone">Phone</label>
                    <input formControlName="phone" type="tel" class="form-control" placeholder="Phone">
                </div>
                <!-- Phone Validation -->
                <div *ngIf="signUpForm.controls['phone'].invalid && (signUpForm.controls['phone'].touched || signUpForm.controls['phone'].dirty)">
                    <div *ngIf="signUpForm.controls['phone'].errors?.['required']">Phone is required</div>
                    <div *ngIf="signUpForm.controls['phone'].errors?.['pattern']">Invalid phone number format</div>
                </div>

                <!-- Conditional Phone Child for Parent -->
                <div *ngIf="role=='parent'" class="form-group">
                    <label style="color: rgb(52, 48, 48);" for="childPhone">Phone Child</label>
                    <input formControlName="childPhone" type="tel" class="form-control" placeholder="Child Phone">
                </div>

                <!-- Age -->
                <div class="form-group">
                    <label style="color: rgb(52, 48, 48);" for="age">Age</label>
                    <input formControlName="age" type="number" class="form-control" placeholder="Age">
                </div>
                <div *ngIf="signUpForm.controls['age'].invalid && (signUpForm.controls['age'].touched || signUpForm.controls['age'].dirty)">
                    <div *ngIf="signUpForm.controls['age'].errors?.['required']">Age is required</div>
                </div>

                <!-- Address -->
                <div class="form-group">
                    <label style="color: rgb(52, 48, 48);" for="address">Address</label>
                    <input formControlName="address" type="text" class="form-control" placeholder="Address">
                </div>
                <div *ngIf="signUpForm.controls['address'].invalid && (signUpForm.controls['address'].touched || signUpForm.controls['address'].dirty)">
                    <div *ngIf="signUpForm.controls['address'].errors?.['required']">Address is required</div>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label style="color: rgb(52, 48, 48);">Email</label>
                    <input formControlName="email" type="email" class="form-control" placeholder="Email">
                </div>
                <div *ngIf="signUpForm.controls['email'].invalid && (signUpForm.controls['email'].touched || signUpForm.controls['email'].dirty)">
                    <div *ngIf="signUpForm.controls['email'].errors?.['required']">Email is required</div>
                    <div *ngIf="signUpForm.controls['email'].errors?.['email']">Invalid Email format</div>
                </div>

                <!-- Password -->
                <div class="form-group">
                    <label style="color: rgb(52, 48, 48);">Password</label>
                    <input formControlName="pwd" type="password" class="form-control" placeholder="Password">
                </div>
                <div *ngIf="signUpForm.controls['pwd'].invalid && (signUpForm.controls['pwd'].touched || signUpForm.controls['pwd'].dirty)">
                    <div *ngIf="signUpForm.controls['pwd'].errors?.['required']">Password is required</div>
                    <div *ngIf="signUpForm.controls['pwd'].errors?.['minlength']">Password must be at least 6 characters</div>
                </div>

                <!-- Image Upload -->
                <div class="text-center">
                    <button type="button" (click)="filePicker.click()" class="btn btn-success">Select Image</button>
                    <div class="form-group">
                        <input style="visibility: hidden;" type="file" #filePicker (change)="onImageSelected($event)" />
                    </div>
                    <img [src]="imagePreview" *ngIf="imagePreview">
                </div>
                <!-- rsume UL-->
                <div *ngIf="role=='teacher'" class="text-center">
                    <button type="button" (click)="filePicker.click()" class="btn btn-success">Select resume</button>
                    <div class="form-group">
                        <input style="visibility: hidden;" type="file" #filePicker (change)="onIPdfSelected($event)" />
                    </div>
                </div>
                <div style="text-align: center;">
                    <button  type="submit" (click)="signUp()" [disabled]="signUpForm.invalid" class="btn btn-secondary">SignUp</button>

                </div>

            </form>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <img class="img-fluid mt-5" src="assets/img/header.png" alt="">
        </div>
    </div>
</div>
