<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-md-12 text-right">
      <button class="btn btn-primary" (click)="addNewTeacher()">Add New Teacher</button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Speciality</th>
        <th>Experience</th>
        <th>Status</th> 
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teachers">
        <td>{{teacher._id}}</td>
        <td>{{teacher.firstName}} {{teacher.lastName}}</td>
  
        <td>{{teacher.speciality}}</td>
        <td>{{teacher.experience}}</td>
        <td>{{teacher.status}}</td> 
        <td>
          <button class="btn btn-info mr-2" (click)="validateTeacher(teacher._id)" [disabled]="teacher.status === 'validated'">Validate</button> <!-- Add Validate Button -->
          <button class="btn btn-success mr-2" (click)="display(teacher._id)">Display</button>
          <button class="btn btn-primary mr-2" (click)="editTeacher(teacher._id)">Edit</button>
          <button class="btn btn-danger" (click)="deleteTeacher(teacher._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
