<div class="container mt-5">
  <div class="text-center">
      <!-- Display the student's profile image -->
      <img *ngIf="student?.path" [src]="student?.path" alt="Profile Image" class="img-fluid rounded-circle mb-3" style="max-width: 150px; max-height: 150px;">
      
    <h4>Name: {{student?.firstName}} {{student?.lastName}}</h4>
    <p><strong>Age:</strong> {{student?.age}}</p>
    <p><strong>Address:</strong> {{student?.address}}</p>
    <p><strong>Email:</strong> {{student?.email}}</p>
    <p><strong>Password:</strong> ***** (Hidden for security)</p>
    
    <!-- Back Button -->
    <button class="btn btn-secondary mt-3" (click)="goBack()">Back</button>
  </div>
</div>
